allow netd self:capability sys_module;
allow netd kernel:system module_request;
#============= netd ==============
allow netd hosts_data_file:file { read getattr open };
allow netd tmpfs:chr_file { read write ioctl open };
allow netd tmpfs:file open;
