# to allow adb shell screencap
allow shell graphics_device:dir search;
allow shell surfaceflinger_tmpfs:file { read write };
# for console in userfastboot
userdebug_or_eng(`
  allow shell rootfs:file execute_no_trans;
')
allow shell logcat_exec:file getattr;
allow shell nvm_server_exec:file {getattr};
allow shell netd_exec:file {getattr execute};
#============= shell ==============
allow shell tmpfs:chr_file { read write ioctl open };
allow shell tmpfs:file open;
allow shell tmpfs:sock_file write;
#============= shared_relro ==============
allow shared_relro tmpfs:chr_file { read write ioctl open getattr };
